// Media
$tablet: 768px;
$mobile: 959px;
$laptop: 1200px;


// Fonts
$logo: 'Raleway', sans-serif;
$titleOrder: 'Lato-Heavy', sans-serif;
$headerText: 'Lato-Bold', sans-serif;
$semiBold: 'Lato-SemiBold', sans-serif;
$regular: 'Lato-Regular', sans-serif;

// Color